[user]
name  = Makito Katsube
email = katsubemakito@gmail.com

[color]
ui = auto

[alias]
st = status
df = diff
co = commit
br = branch
ps = push
pl = pull
ck = checkout
graph = log --pretty=format:'%Cgreen[%cd] %Cblue%h %Cred<%cn> %Creset%s' --date=short  --decorate --graph --branches --tags --remotes
diffw = diff --word-diff

[commit]
gpgsign = true

[tag]
gpgsign = true

[push]
default = current

[pull]
ff = only
rebase = false

[init]
defaultBranch = main

[core]
excludesfile = ~/.gitignore_global
quotepath    = false
ignorecase   = false
autocrlf     = false
editor       = vi

[branch]
# 最近更新されたブランチを上に表示
sort = -committerdate

[credential]
helper = osxkeychain

# [http]
# proxy = http://proxy.example.com:8080
# [https]
# proxy = http://proxy.example.com:8080